<header>
    <ul>
        <img src="/img/the_simpsons.png" " alt=" ">
        <li>
            <a href="/ ">Home</a>
        </li>
        <li>
            <a href="/favorite-quotes ">Favorites</a>
        </li>
    </ul>
</header>